.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11%;
  padding: 1rem 0;
  font-size: 1rem;
}
.item div {
  width: 90%;
  display: flex;
  align-items: center;
}
.item div input[type='checkbox'] {
  align-self: center;
  margin: 0;
  width: 1rem;
  height: 1rem;
}
.item label {
  display: inline-block;
  width: 90%;
  margin-left: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item button {
  padding: 3px;
  border-radius: 1rem;
}
.item button:hover {
  transform: rotate(45deg);
}
