.container {
  border-radius: 2rem;
  min-width: 350px;
  min-height: 400px;
  width: 20%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* light 모드 */
.container header {
  border-bottom: 1px solid lightgray;
  background-color: rgb(240, 236, 236);
  color: rgba(255, 140, 0, 0.808);
}
.container .mode:hover {
  color: #0e1e54;
}
.container .tab-list li {
  color: rgb(255, 140, 0);
}
.container .tab-list li:hover,
.container .tab-list li.active {
  color: rgb(179, 113, 32);
  text-decoration: underline #0e1e54;
}
.container > main > article {
  background-color: white;
  color: black;
}
.container .todo-checkbox:checked + .todo-title {
  text-decoration: line-through;
  color: darkgray;
}
.container .icon-btn {
  background-color: lightgray;
  color: rgba(0, 0, 0, 0.644);
}
.container > main > .add-form {
  background-color: rgb(240, 236, 236);
}
.container > main > .add-form button {
  background-color: orange;
  color: white;
}
.container > main > .add-form button:hover {
  background-color: gray;
}

/* dark 모드 */
.container.dark header {
  border-bottom: 1px solid gray;
  background-color: #0e1e54;
  color: white;
}
.container.dark .mode:hover {
  color: rgba(255, 140, 0, 0.808);
}
.container.dark .tab-list li:hover,
.container.dark .tab-list li.active {
  text-decoration-color: rgb(186, 235, 235);
}
.container.dark > main > article {
  background-color: #1f2a4d;
  color: white;
}
.container.dark .icon-btn {
  background-color: gray;
  color: white;
}
.container.dark > main > .add-form {
  background-color: #0e1e54;
}
